<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.mapper.TbAssessCarMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.pojo.TbAssessCar">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="series_id" jdbcType="BIGINT" property="seriesId" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="maxlen" jdbcType="VARCHAR" property="maxlen" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="buydate" jdbcType="TIMESTAMP" property="buydate" />
    <result column="mileage" jdbcType="VARCHAR" property="mileage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, series_id, year, maxlen, name, buydate, mileage
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.pojo.TbAssessCarExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_assess_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_assess_car
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_assess_car
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.pojo.TbAssessCarExample">
    delete from tb_assess_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.pojo.TbAssessCar">
    insert into tb_assess_car (id, series_id, year, 
      maxlen, name, buydate, 
      mileage)
    values (#{id,jdbcType=BIGINT}, #{seriesId,jdbcType=BIGINT}, #{year,jdbcType=VARCHAR}, 
      #{maxlen,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{buydate,jdbcType=TIMESTAMP}, 
      #{mileage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.pojo.TbAssessCar">
    insert into tb_assess_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="seriesId != null">
        series_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="maxlen != null">
        maxlen,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="buydate != null">
        buydate,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="seriesId != null">
        #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="maxlen != null">
        #{maxlen,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null">
        #{buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.pojo.TbAssessCarExample" resultType="java.lang.Long">
    select count(*) from tb_assess_car
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_assess_car
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.seriesId != null">
        series_id = #{record.seriesId,jdbcType=BIGINT},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=VARCHAR},
      </if>
      <if test="record.maxlen != null">
        maxlen = #{record.maxlen,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.buydate != null">
        buydate = #{record.buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mileage != null">
        mileage = #{record.mileage,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_assess_car
    set id = #{record.id,jdbcType=BIGINT},
      series_id = #{record.seriesId,jdbcType=BIGINT},
      year = #{record.year,jdbcType=VARCHAR},
      maxlen = #{record.maxlen,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      buydate = #{record.buydate,jdbcType=TIMESTAMP},
      mileage = #{record.mileage,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.pojo.TbAssessCar">
    update tb_assess_car
    <set>
      <if test="seriesId != null">
        series_id = #{seriesId,jdbcType=BIGINT},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="maxlen != null">
        maxlen = #{maxlen,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="buydate != null">
        buydate = #{buydate,jdbcType=TIMESTAMP},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.pojo.TbAssessCar">
    update tb_assess_car
    set series_id = #{seriesId,jdbcType=BIGINT},
      year = #{year,jdbcType=VARCHAR},
      maxlen = #{maxlen,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      buydate = #{buydate,jdbcType=TIMESTAMP},
      mileage = #{mileage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>