<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.mapper.TbCarPropMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.pojo.TbCarProp">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_id" jdbcType="BIGINT" property="carId" />
    <result column="unable" jdbcType="INTEGER" property="unable" />
    <result column="manufacturers" jdbcType="VARCHAR" property="manufacturers" />
    <result column="construction" jdbcType="VARCHAR" property="construction" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="axle_distance" jdbcType="DOUBLE" property="axleDistance" />
    <result column="engine" jdbcType="VARCHAR" property="engine" />
    <result column="oil_num" jdbcType="VARCHAR" property="oilNum" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="oil_cost" jdbcType="VARCHAR" property="oilCost" />
    <result column="environment_norm" jdbcType="VARCHAR" property="environmentNorm" />
    <result column="speed_100" jdbcType="VARCHAR" property="speed100" />
    <result column="protect_limit" jdbcType="VARCHAR" property="protectLimit" />
    <result column="speed_high" jdbcType="DOUBLE" property="speedHigh" />
    <result column="drive_type" jdbcType="VARCHAR" property="driveType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, car_id, unable, manufacturers, construction, size, axle_distance, engine, oil_num, 
    capacity, oil_cost, environment_norm, speed_100, protect_limit, speed_high, drive_type, 
    create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.pojo.TbCarPropExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_prop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_car_prop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_car_prop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.pojo.TbCarPropExample">
    delete from tb_car_prop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.pojo.TbCarProp">
    insert into tb_car_prop (id, car_id, unable, 
      manufacturers, construction, size, 
      axle_distance, engine, oil_num, 
      capacity, oil_cost, environment_norm, 
      speed_100, protect_limit, speed_high, 
      drive_type, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=BIGINT}, #{unable,jdbcType=INTEGER}, 
      #{manufacturers,jdbcType=VARCHAR}, #{construction,jdbcType=VARCHAR}, #{size,jdbcType=VARCHAR}, 
      #{axleDistance,jdbcType=DOUBLE}, #{engine,jdbcType=VARCHAR}, #{oilNum,jdbcType=VARCHAR}, 
      #{capacity,jdbcType=VARCHAR}, #{oilCost,jdbcType=VARCHAR}, #{environmentNorm,jdbcType=VARCHAR}, 
      #{speed100,jdbcType=VARCHAR}, #{protectLimit,jdbcType=VARCHAR}, #{speedHigh,jdbcType=DOUBLE}, 
      #{driveType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.pojo.TbCarProp">
    insert into tb_car_prop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="unable != null">
        unable,
      </if>
      <if test="manufacturers != null">
        manufacturers,
      </if>
      <if test="construction != null">
        construction,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="axleDistance != null">
        axle_distance,
      </if>
      <if test="engine != null">
        engine,
      </if>
      <if test="oilNum != null">
        oil_num,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="oilCost != null">
        oil_cost,
      </if>
      <if test="environmentNorm != null">
        environment_norm,
      </if>
      <if test="speed100 != null">
        speed_100,
      </if>
      <if test="protectLimit != null">
        protect_limit,
      </if>
      <if test="speedHigh != null">
        speed_high,
      </if>
      <if test="driveType != null">
        drive_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="unable != null">
        #{unable,jdbcType=INTEGER},
      </if>
      <if test="manufacturers != null">
        #{manufacturers,jdbcType=VARCHAR},
      </if>
      <if test="construction != null">
        #{construction,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="axleDistance != null">
        #{axleDistance,jdbcType=DOUBLE},
      </if>
      <if test="engine != null">
        #{engine,jdbcType=VARCHAR},
      </if>
      <if test="oilNum != null">
        #{oilNum,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="oilCost != null">
        #{oilCost,jdbcType=VARCHAR},
      </if>
      <if test="environmentNorm != null">
        #{environmentNorm,jdbcType=VARCHAR},
      </if>
      <if test="speed100 != null">
        #{speed100,jdbcType=VARCHAR},
      </if>
      <if test="protectLimit != null">
        #{protectLimit,jdbcType=VARCHAR},
      </if>
      <if test="speedHigh != null">
        #{speedHigh,jdbcType=DOUBLE},
      </if>
      <if test="driveType != null">
        #{driveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.pojo.TbCarPropExample" resultType="java.lang.Long">
    select count(*) from tb_car_prop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_car_prop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null">
        car_id = #{record.carId,jdbcType=BIGINT},
      </if>
      <if test="record.unable != null">
        unable = #{record.unable,jdbcType=INTEGER},
      </if>
      <if test="record.manufacturers != null">
        manufacturers = #{record.manufacturers,jdbcType=VARCHAR},
      </if>
      <if test="record.construction != null">
        construction = #{record.construction,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        size = #{record.size,jdbcType=VARCHAR},
      </if>
      <if test="record.axleDistance != null">
        axle_distance = #{record.axleDistance,jdbcType=DOUBLE},
      </if>
      <if test="record.engine != null">
        engine = #{record.engine,jdbcType=VARCHAR},
      </if>
      <if test="record.oilNum != null">
        oil_num = #{record.oilNum,jdbcType=VARCHAR},
      </if>
      <if test="record.capacity != null">
        capacity = #{record.capacity,jdbcType=VARCHAR},
      </if>
      <if test="record.oilCost != null">
        oil_cost = #{record.oilCost,jdbcType=VARCHAR},
      </if>
      <if test="record.environmentNorm != null">
        environment_norm = #{record.environmentNorm,jdbcType=VARCHAR},
      </if>
      <if test="record.speed100 != null">
        speed_100 = #{record.speed100,jdbcType=VARCHAR},
      </if>
      <if test="record.protectLimit != null">
        protect_limit = #{record.protectLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.speedHigh != null">
        speed_high = #{record.speedHigh,jdbcType=DOUBLE},
      </if>
      <if test="record.driveType != null">
        drive_type = #{record.driveType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_car_prop
    set id = #{record.id,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=BIGINT},
      unable = #{record.unable,jdbcType=INTEGER},
      manufacturers = #{record.manufacturers,jdbcType=VARCHAR},
      construction = #{record.construction,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=VARCHAR},
      axle_distance = #{record.axleDistance,jdbcType=DOUBLE},
      engine = #{record.engine,jdbcType=VARCHAR},
      oil_num = #{record.oilNum,jdbcType=VARCHAR},
      capacity = #{record.capacity,jdbcType=VARCHAR},
      oil_cost = #{record.oilCost,jdbcType=VARCHAR},
      environment_norm = #{record.environmentNorm,jdbcType=VARCHAR},
      speed_100 = #{record.speed100,jdbcType=VARCHAR},
      protect_limit = #{record.protectLimit,jdbcType=VARCHAR},
      speed_high = #{record.speedHigh,jdbcType=DOUBLE},
      drive_type = #{record.driveType,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.pojo.TbCarProp">
    update tb_car_prop
    <set>
      <if test="carId != null">
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="unable != null">
        unable = #{unable,jdbcType=INTEGER},
      </if>
      <if test="manufacturers != null">
        manufacturers = #{manufacturers,jdbcType=VARCHAR},
      </if>
      <if test="construction != null">
        construction = #{construction,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="axleDistance != null">
        axle_distance = #{axleDistance,jdbcType=DOUBLE},
      </if>
      <if test="engine != null">
        engine = #{engine,jdbcType=VARCHAR},
      </if>
      <if test="oilNum != null">
        oil_num = #{oilNum,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="oilCost != null">
        oil_cost = #{oilCost,jdbcType=VARCHAR},
      </if>
      <if test="environmentNorm != null">
        environment_norm = #{environmentNorm,jdbcType=VARCHAR},
      </if>
      <if test="speed100 != null">
        speed_100 = #{speed100,jdbcType=VARCHAR},
      </if>
      <if test="protectLimit != null">
        protect_limit = #{protectLimit,jdbcType=VARCHAR},
      </if>
      <if test="speedHigh != null">
        speed_high = #{speedHigh,jdbcType=DOUBLE},
      </if>
      <if test="driveType != null">
        drive_type = #{driveType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.pojo.TbCarProp">
    update tb_car_prop
    set car_id = #{carId,jdbcType=BIGINT},
      unable = #{unable,jdbcType=INTEGER},
      manufacturers = #{manufacturers,jdbcType=VARCHAR},
      construction = #{construction,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      axle_distance = #{axleDistance,jdbcType=DOUBLE},
      engine = #{engine,jdbcType=VARCHAR},
      oil_num = #{oilNum,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=VARCHAR},
      oil_cost = #{oilCost,jdbcType=VARCHAR},
      environment_norm = #{environmentNorm,jdbcType=VARCHAR},
      speed_100 = #{speed100,jdbcType=VARCHAR},
      protect_limit = #{protectLimit,jdbcType=VARCHAR},
      speed_high = #{speedHigh,jdbcType=DOUBLE},
      drive_type = #{driveType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>