<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.mapper.TbCarColumnMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.pojo.TbCarColumn">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_id" jdbcType="BIGINT" property="carId" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="car_sort" jdbcType="INTEGER" property="carSort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="deflag" jdbcType="INTEGER" property="deflag" />
    <result column="car_number" jdbcType="VARCHAR" property="carNumber" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ColumnJoinCar"  type="com.maizhong.common.dto.CarColumnJoinCar">
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="car_type" jdbcType="VARCHAR" property="name" />
    <result column="sellpoint" jdbcType="VARCHAR" property="sellpoint" />
    <result column="reserve_price" jdbcType="DECIMAL" property="reservePrice" />
    <result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
    <result column="car_factory_price" jdbcType="VARCHAR" property="factoryPrice" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, car_id, column_id, car_sort, status, deflag, car_number
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.pojo.TbCarColumnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_car_column
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_car_column
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.pojo.TbCarColumnExample">
    delete from tb_car_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.pojo.TbCarColumn">
    insert into tb_car_column (id, car_id, column_id, 
      car_sort, status, deflag, 
      car_number)
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=BIGINT}, #{columnId,jdbcType=INTEGER}, 
      #{carSort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{deflag,jdbcType=INTEGER}, 
      #{carNumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.pojo.TbCarColumn">
    insert into tb_car_column
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="columnId != null">
        column_id,
      </if>
      <if test="carSort != null">
        car_sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deflag != null">
        deflag,
      </if>
      <if test="carNumber != null">
        car_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="carSort != null">
        #{carSort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="deflag != null">
        #{deflag,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null">
        #{carNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.pojo.TbCarColumnExample" resultType="java.lang.Long">
    select count(*) from tb_car_column
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_car_column
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null">
        car_id = #{record.carId,jdbcType=BIGINT},
      </if>
      <if test="record.columnId != null">
        column_id = #{record.columnId,jdbcType=INTEGER},
      </if>
      <if test="record.carSort != null">
        car_sort = #{record.carSort,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.deflag != null">
        deflag = #{record.deflag,jdbcType=INTEGER},
      </if>
      <if test="record.carNumber != null">
        car_number = #{record.carNumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_car_column
    set id = #{record.id,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=BIGINT},
      column_id = #{record.columnId,jdbcType=INTEGER},
      car_sort = #{record.carSort,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      deflag = #{record.deflag,jdbcType=INTEGER},
      car_number = #{record.carNumber,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.pojo.TbCarColumn">
    update tb_car_column
    <set>
      <if test="carId != null">
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="columnId != null">
        column_id = #{columnId,jdbcType=INTEGER},
      </if>
      <if test="carSort != null">
        car_sort = #{carSort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="deflag != null">
        deflag = #{deflag,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null">
        car_number = #{carNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.pojo.TbCarColumn">
    update tb_car_column
    set car_id = #{carId,jdbcType=BIGINT},
      column_id = #{columnId,jdbcType=INTEGER},
      car_sort = #{carSort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      deflag = #{deflag,jdbcType=INTEGER},
      car_number = #{carNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getListByColumn" resultMap="ColumnJoinCar">
    SELECT A.*,B.number,
    B.sellpoint, B.reserve_price, B.sell_price, B.image,D.car_type,D.car_factory_price
    FROM tb_car_column A LEFT JOIN tb_car B ON A.car_id = B.id LEFT JOIN tb_dictionary C ON C.id=A.column_id LEFT JOIN tb_car_base D ON B.base_id=D.id
    WHERE A.deflag=0  AND C.`status`=1
    <if test="status!=null">
      AND A.status=#{status,jdbcType=BIGINT}
    </if>
    <if test="columnId!=null">
      AND A.column_id=#{columnId,jdbcType=BIGINT}
    </if>
    ORDER BY A.column_id ASC, A.car_sort ASC
  </select>
</mapper>