<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.mapper.TbCarBrandLineMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.pojo.TbCarBrandLine">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="line_name" jdbcType="VARCHAR" property="lineName" />
    <result column="line_sequence" jdbcType="INTEGER" property="lineSequence" />
    <result column="show_flag" jdbcType="INTEGER" property="showFlag" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delflag" jdbcType="INTEGER" property="delflag" />
    <result column="factory_id" jdbcType="BIGINT" property="factoryId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, brand_id, line_name, line_sequence, show_flag, status, delflag, factory_id
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.pojo.TbCarBrandLineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_brand_line
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_car_brand_line
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_car_brand_line
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.pojo.TbCarBrandLineExample">
    delete from tb_car_brand_line
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.pojo.TbCarBrandLine">
    insert into tb_car_brand_line (id, brand_id, line_name, 
      line_sequence, show_flag, status, 
      delflag, factory_id)
    values (#{id,jdbcType=BIGINT}, #{brandId,jdbcType=BIGINT}, #{lineName,jdbcType=VARCHAR}, 
      #{lineSequence,jdbcType=INTEGER}, #{showFlag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{delflag,jdbcType=INTEGER}, #{factoryId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.pojo.TbCarBrandLine">
    insert into tb_car_brand_line
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="lineName != null">
        line_name,
      </if>
      <if test="lineSequence != null">
        line_sequence,
      </if>
      <if test="showFlag != null">
        show_flag,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delflag != null">
        delflag,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="lineName != null">
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineSequence != null">
        #{lineSequence,jdbcType=INTEGER},
      </if>
      <if test="showFlag != null">
        #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        #{delflag,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.pojo.TbCarBrandLineExample" resultType="java.lang.Long">
    select count(*) from tb_car_brand_line
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_car_brand_line
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.brandId != null">
        brand_id = #{record.brandId,jdbcType=BIGINT},
      </if>
      <if test="record.lineName != null">
        line_name = #{record.lineName,jdbcType=VARCHAR},
      </if>
      <if test="record.lineSequence != null">
        line_sequence = #{record.lineSequence,jdbcType=INTEGER},
      </if>
      <if test="record.showFlag != null">
        show_flag = #{record.showFlag,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.delflag != null">
        delflag = #{record.delflag,jdbcType=INTEGER},
      </if>
      <if test="record.factoryId != null">
        factory_id = #{record.factoryId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_car_brand_line
    set id = #{record.id,jdbcType=BIGINT},
      brand_id = #{record.brandId,jdbcType=BIGINT},
      line_name = #{record.lineName,jdbcType=VARCHAR},
      line_sequence = #{record.lineSequence,jdbcType=INTEGER},
      show_flag = #{record.showFlag,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      delflag = #{record.delflag,jdbcType=INTEGER},
      factory_id = #{record.factoryId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.pojo.TbCarBrandLine">
    update tb_car_brand_line
    <set>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="lineName != null">
        line_name = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineSequence != null">
        line_sequence = #{lineSequence,jdbcType=INTEGER},
      </if>
      <if test="showFlag != null">
        show_flag = #{showFlag,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delflag != null">
        delflag = #{delflag,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.pojo.TbCarBrandLine">
    update tb_car_brand_line
    set brand_id = #{brandId,jdbcType=BIGINT},
      line_name = #{lineName,jdbcType=VARCHAR},
      line_sequence = #{lineSequence,jdbcType=INTEGER},
      show_flag = #{showFlag,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      delflag = #{delflag,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>


<!--  <select id="getSeriesByFactory"  resultType="java.lang.String">
    SELECT DISTINCT car_series  FROM tb_car_base WHERE car_factory = #{factoryName,jdbcType=VARCHAR}
     AND car_brand = #{brandName,jdbcType=VARCHAR}  GROUP BY car_series;
  </select>-->
</mapper>