<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.mapper.TbCarSkuMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.pojo.TbCarSku">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="car_model_id" jdbcType="BIGINT" property="carModelId" />
    <result column="color" jdbcType="BIGINT" property="color" />
    <result column="capacity" jdbcType="DOUBLE" property="capacity" />
    <result column="gearbox" jdbcType="BIGINT" property="gearbox" />
    <result column="unable" jdbcType="INTEGER" property="unable" />
    <result column="shop_price" jdbcType="DOUBLE" property="shopPrice" />
    <result column="sell_price" jdbcType="DOUBLE" property="sellPrice" />
    <result column="reserve_price" jdbcType="DOUBLE" property="reservePrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, car_model_id, color, capacity, gearbox, unable, shop_price, sell_price, 
    reserve_price, create_time
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.pojo.TbCarSkuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_car_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_car_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_car_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.pojo.TbCarSkuExample">
    delete from tb_car_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.pojo.TbCarSku">
    insert into tb_car_sku (id, name, car_model_id, 
      color, capacity, gearbox, 
      unable, shop_price, sell_price, 
      reserve_price, create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{carModelId,jdbcType=BIGINT}, 
      #{color,jdbcType=BIGINT}, #{capacity,jdbcType=DOUBLE}, #{gearbox,jdbcType=BIGINT}, 
      #{unable,jdbcType=INTEGER}, #{shopPrice,jdbcType=DOUBLE}, #{sellPrice,jdbcType=DOUBLE}, 
      #{reservePrice,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.pojo.TbCarSku">
    insert into tb_car_sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="carModelId != null">
        car_model_id,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="gearbox != null">
        gearbox,
      </if>
      <if test="unable != null">
        unable,
      </if>
      <if test="shopPrice != null">
        shop_price,
      </if>
      <if test="sellPrice != null">
        sell_price,
      </if>
      <if test="reservePrice != null">
        reserve_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        #{carModelId,jdbcType=BIGINT},
      </if>
      <if test="color != null">
        #{color,jdbcType=BIGINT},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=DOUBLE},
      </if>
      <if test="gearbox != null">
        #{gearbox,jdbcType=BIGINT},
      </if>
      <if test="unable != null">
        #{unable,jdbcType=INTEGER},
      </if>
      <if test="shopPrice != null">
        #{shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="sellPrice != null">
        #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="reservePrice != null">
        #{reservePrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.pojo.TbCarSkuExample" resultType="java.lang.Long">
    select count(*) from tb_car_sku
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_car_sku
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.carModelId != null">
        car_model_id = #{record.carModelId,jdbcType=BIGINT},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=BIGINT},
      </if>
      <if test="record.capacity != null">
        capacity = #{record.capacity,jdbcType=DOUBLE},
      </if>
      <if test="record.gearbox != null">
        gearbox = #{record.gearbox,jdbcType=BIGINT},
      </if>
      <if test="record.unable != null">
        unable = #{record.unable,jdbcType=INTEGER},
      </if>
      <if test="record.shopPrice != null">
        shop_price = #{record.shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.sellPrice != null">
        sell_price = #{record.sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.reservePrice != null">
        reserve_price = #{record.reservePrice,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_car_sku
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      car_model_id = #{record.carModelId,jdbcType=BIGINT},
      color = #{record.color,jdbcType=BIGINT},
      capacity = #{record.capacity,jdbcType=DOUBLE},
      gearbox = #{record.gearbox,jdbcType=BIGINT},
      unable = #{record.unable,jdbcType=INTEGER},
      shop_price = #{record.shopPrice,jdbcType=DOUBLE},
      sell_price = #{record.sellPrice,jdbcType=DOUBLE},
      reserve_price = #{record.reservePrice,jdbcType=DOUBLE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.pojo.TbCarSku">
    update tb_car_sku
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null">
        car_model_id = #{carModelId,jdbcType=BIGINT},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=BIGINT},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=DOUBLE},
      </if>
      <if test="gearbox != null">
        gearbox = #{gearbox,jdbcType=BIGINT},
      </if>
      <if test="unable != null">
        unable = #{unable,jdbcType=INTEGER},
      </if>
      <if test="shopPrice != null">
        shop_price = #{shopPrice,jdbcType=DOUBLE},
      </if>
      <if test="sellPrice != null">
        sell_price = #{sellPrice,jdbcType=DOUBLE},
      </if>
      <if test="reservePrice != null">
        reserve_price = #{reservePrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.pojo.TbCarSku">
    update tb_car_sku
    set name = #{name,jdbcType=VARCHAR},
      car_model_id = #{carModelId,jdbcType=BIGINT},
      color = #{color,jdbcType=BIGINT},
      capacity = #{capacity,jdbcType=DOUBLE},
      gearbox = #{gearbox,jdbcType=BIGINT},
      unable = #{unable,jdbcType=INTEGER},
      shop_price = #{shopPrice,jdbcType=DOUBLE},
      sell_price = #{sellPrice,jdbcType=DOUBLE},
      reserve_price = #{reservePrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>