.lis_left{ width:180px; float: left; background: #e5e5e5; 
	border-radius: 8px; padding: 30px 20px; margin-top: 50px}
.lis_right{ width: 920px; float: right;min-height: 500px; 
	margin-bottom: 100px; font-size: 14px; line-height: 30px; margin-top: 50px; background: #fff;box-shadow:  0px 1px 1px #c5c5c5}
.lis_left ul a{ font-size: 18px; text-align: center;color: #666; line-height: 65px; display: block; border-bottom: 1px dotted #999} 
.lis_left ul a.none{ border: none }
.lis_right>div{ padding:35px 35px 70px; }
.bg_color{ background: #f5f5f5; margin-top: -25px}
.lis_right h3{ line-height: 65px;padding-left: 30px;  font-size: 24px;border-bottom:1px solid #ccc;}
.newcon{ width: 1200px;background: #fff; margin: 60px auto; padding: 40px 90px; box-sizing: border-box}
.bg_colors{background: #f5f5f5; overflow: hidden; margin: 0 !important;}
.newcon h2{font-size: 24px; text-align: center; line-height: 65px;}
.newcon p{ font-size: 14px; line-height: 30px;}
.newcon>div{ text-align: center; color: #999; font-size: 16px; line-height: 75px;}
.newcon img{ text-align: center; margin: 30px auto; width: 80%;display: block}