body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img,abbr,acronym{border:0}
ol,ul,li{list-style:none}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
caption{text-align:center}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,select{outline:none}
.fl{float:left}.fr{float:right}
.clearfix:before,.clearfix:after{content:".";display:block;height:0;visibility:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
.img_wrap img{vertical-align:top}
.vm{vertical-align:middle}
.md{vertical-align:middle}
.ofa{overflow:auto}
.ohz{overflow:hidden}
a{color:#fff;text-decoration:none}
a:hover{color:#f60}
a:focus{outline:none}
label{cursor:pointer}
body{font-size:12px;font-family:Arial,'微软雅黑';color:#666}i{font-style:normal}
em,strong,th,i{font-weight:normal;font-style:normal}
caption,th{text-align:left}.cursor{cursor:pointer}
.btn,.btnnew{display:inline-block;*display:inline;*zoom:1;text-align:center;cursor:pointer;border-radius:4px}
.hide{display:none}
.w1200{max-width:1200px;min-width:1000px;_width:1000px;margin-left:auto;margin-right:auto}
.w170{width:170px}.w190{width:190px}.mauto{margin:0 auto}
.tar{text-align:right}.tac{text-align:center}
.w5em{width:5em}
.w8em{width:8em}.w900{width:900px}.w520{width:520px}
.lh50{line-height:50px}.h50{height:50px}
.w220{width:18.5%;max-width:220px}
.w50{width:50px}
.w1000{max-width:1040px;width:85%}
.mt12{margin-top:12px}
.lh47{line-height:47px}
.w960{width:80%;max-width:960px}
.h41{height:41px}.lh48{line-height:48px}
.w94{width:94px}.lh37{line-height:37px}
.lh36{line-height:36px}
.w208{width:208px}
.h28{height:28px}
.lh28{line-height:28px}
.lh26{line-height:26px}
.lh40{line-height:40px}
.h40{height:40px}
.h350{height:350px}
.pt75{padding-top:75px}
.w155{width:155px}
.pt35{padding-top:35px}
.bggrayc{background-color:#ccc}
.maxh400{max-height:400px;_height:400px}
.minh300{min-height:300px;_height:300px}
.minh550{min-height:550px;_height:550px}
.lh30{line-height:30px}.lh24{line-height:24px}
.h430{height:430px}.w90{width:90px}
.w380{width:380px}
.w210{width:210px}
.w145{width:145px}
.w_50{width:50%}
.h200{height:200px}
.w460{width:460px}
.wb460{max-width:460px;width:43%}
.w60{width:60px}
.w64{width:64px}
.w68{width:68px}
.h80{height:80px}
select{font-family:Arial,'微软雅黑'}
textarea{overflow:auto;resize:none;font-family:Arial,'微软雅黑'}
.ipt{border:1px solid #e5e5e5;padding:0 5px;font-family:Arial,'微软雅黑'}
.w{width:100%}
.w590{width:590px}
.w640{width:640px}
.w725{width:725px}
.w735{width:735px}
.h485{height:485px}
.w120{width:120px}
.h45{height:45px}
.pr{position:relative}
.pa{position:absolute}
.t2{position:relative;top:2px}
.z3{z-index:3}
.bggray{background-color:#eee}
.ccheng{color:#f60}
.clv{color:#006e29}
.bgcheng{background-color:#f60}
.bgf6{background-color:#f6f6f6}
.c6{color:#666}
.c9{color:#999}
.c3{color:#333}
.cblue{color:#2f7ee1}
.bggrayd{background-color:#ddd}
.cwhite{color:#fff}
.cblack{color:#000}
.bgcwhite{background-color:#fff}
.cgreen{color:#10c62a}
.bggreen{background-color:#42bc0c}
.bgf5{background-color:#f5f5f5}
.bgqing{background-color:#ecf2fa}
.bgy{background-color:#fff7f2}
.cc{color:#ccc}
.hoverwhite:hover{color:#fff}
.hoverc9:hover{color:#999}
.hovercheng:hover{color:#f60}
.bbs1{border-bottom:1px solid #ccc}
.bs1y{border:1px solid #fde1cf}
.b1s{border:1px solid #ccc}
.bbs1t{border-top:1px solid #ccc}
.bbs1b{border-bottom:1px solid #ccc}
.bts1d{border-top:#e5e5e5 dashed 1px}
.bbs1d{border-bottom:#e5e5e5 dashed 1px}
.bs5c{border:5px solid #666}
.brs1{border-right:1px solid #ccc}
.bs1ry{border-right:1px solid #fde1cf}
.tab02 .bdbn{border-bottom:0}
.tab02 .bdtn{border-top:0}
.tab02 .bdln{border-left:0}
.tab02 .bdrn{border-right:0}
.tab02 .bdn{border:0}
.bdbn{border-bottom:0}
.ml15{margin-left:15px}
.ml95{margin-left:95px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.m1201{margin-left:3%}
.mr51{margin-right:1%}
.pr501{padding-right:5%}
.ml501{margin-left:2%}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt10{margin-top:10px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml35{margin-left:35px}
.ml210{margin-left:210px}
.ml100{margin-left:100px}
.ml125{margin-left:125px}
.ml115{margin-left:115px}
.ml165{margin-left:165px}
.mt75{margin-top:75px}
.mr55{margin-right:55px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mt5{margin-top:5px}
.mr10{margin-right:10px}
.mr_12{margin-right:-12px}
.mt_1{margin-top:-1px}
.mt15{margin-top:15px}
.mt_10{margin-top:-10px}
.mr20{margin-right:20px}
.ml50{margin-left:50px}
.mr50{margin-right:50px}
.ml70{margin-left:70px}
.mr70{margin-right:70px}
.mr5{margin-right:5px}
.mb10{margin-bottom:10px}
.pb25{padding-bottom:25px}
.pt25{padding-top:25px}
.pt10{padding-top:10px}
.pl20{padding-left:20px}
.pl30{padding-left:50px}
.pr20{padding-right:20px}
.pb10{padding-bottom:10px}
.pt5{padding-top:5px}
.pl25{padding-left:25px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pl10{padding-left:10px}
.pr10{padding-right:10px}
.pl15{padding-left:15px}
.pr15{padding-right:15px}
.pb15{padding-bottom:15px}
.pb30{padding-bottom:30px}
.pt50{padding-top:50px}
.pt60{padding-top:60px}
.pr40{padding-right:40px}
.pl40{padding-left:40px}
.pl50{padding-left:50px}
.p15{padding:15px}
.p10{padding:10px}
.pt15{padding-top:15px}
.pb15{padding-bottom:15px}
.pr50{padding-right:50px}
.t2{text-indent:2em}
.fs24{font-size:24px}
.fs16{font-size:16px}
.fs18{font-size:18px}
.fs14{font-size:18px}
.fs12{font-size:12px}
.fs13{font-size:13px}
.fs20{font-size:20px}
.fs0{font-size:0}
.bs1d{border:1px solid #ddd}
.popupbox,.popupbox2,.headimage{position:fixed;width:100%;height:100%;left:0;top:0;background-color:rgba(0,0,0,.3);
z-index:1501;text-align:center;display:none}
.popupbox{position:fixed;width:100%;height:100%;left:0;top:0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType='0',startcolorstr='#7F000000',
endcolorstr='#7F000000');background:rgba(0,0,0,.5);text-align:center;display:-none}
.popupbox .rel,.popupbox2 .rel,.headimage .rel{display:inline-block;*display:inline;*zoom:1;width:0;height:100%;vertical-align:middle}
.popupbox .pup,.popupbox2 .pup,.headimage .pup{vertical-align:middle;display:inline-block;*display:inline;*zoom:1;text-align:left}
.popupbox .close,.popupbox2 .close
,.headimage .close{position:absolute;right:10px;top:12px;cursor:pointer;width:24px;
height:23px;overflow:hidden;}
.popupbox .close:hover,.popupbox2 .close:hover,.headimage .close:hover{background-position:left -24px}
.popupbox .puph,.popupbox2 .puph,.headimage .puph{min-height:580px;max-height:580px;_height:580px}
.top .top_sign{display:inline-block}
.top .top_sign .iconall{font-size:14px;color:#f60}
.ahoverred a:hover{color:#f90303}
.aunderline a:hover{text-decoration:underline}
.voucher a{color:#0e06bb!important}
.cred{color:#f90303}
.ccheng{color:#f60}
.place{font-size:14px;padding-left:24px}
.place a{color:#666}
.place a:hover{color:#f60}
.user dt{width:100px;height:100px;border-radius:50%;border:#fff solid 3px;box-shadow:3px 5px 5px rgba(0,0,0,.2);
position:relative;cursor:pointer}
.user dt .togphoto{position:absolute;top:0;left:0;width:100%;height:100%;color:#fff;font-size:14px;line-height:110px;background:rgba(0,0,0,.3);
	border-radius:50%;display:none}.user .photo{width:100px;height:100px;border-radius:50%}
.user .realname,.user .mobile{display:inline-block;*display:inline;*zoom:1;width:24px;height:20px;padding-top:4px;border-radius:2px}
.user .realname.bgcheng,.user .mobile.bgcheng{background-color:#f60}
.user .yzbox{width:24px;height:24px;border:1px solid #fff;position:relative}
.user .yzbox .yztext{position:absolute;top:16px;*top:24px;right:-25px;*right:-25px;width:105px;height:20px;text-align:center;padding-top:10px;display:none;font-size:12px}
.active a{padding-left:0}
.righttit{border-bottom:#f60 solid 3px;display:inline-block;*display:inline;*zoom:1;height:40px;line-height:40px}
.icon_tips{display:inline-block;margin-left:9px}
.tips_box{display:none;margin-left:10px;font-size:14px;position:relative;z-index:2}
.editor{position:absolute;right:48px;top:0}
.cancel:hover{background-color:#f0f0f0}
.tab01 th,.tabcar th,.tab01 td,.tabcar td{border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.tab02 th,.tab02 td{border:1px solid #fde1cf}
.tabli span{cursor:pointer;display:inline-block;*display:inline;*zoom:1;height:44px;line-height:44px}
.tabli i{padding:0 15px}
.tabli .active{border-bottom:#f60 solid 3px;color:#f60}
.news li{height:47px;line-height:47px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.news a{color:#666}
.news.nnews a{float:left;width:84%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.news a:hover{color:#f60}
.newsbbs1d li{border-bottom:#e5e5e5 dashed 1px}
.page span,.page a,.page i{display:inline-block;*display:inline;*zoom:1;margin:0 -1px;width:31px;height:28px;line-height:28px;text-align:center;vertical-align:middle}
.page .active{border:1px solid #f60;color:#fff;background-color:#f60}
.page a{color:#666;border:1px solid #ccc;background-color:#fff}
.page a:hover{border:1px solid #f60;color:#fff;background-color:#f60}
.page .ml10{margin-left:10px}
.page .last{color:#999}
.page .text{padding-left:20px;padding-right:20px;width:auto}
.page .disabled{color:#999;background-color:#f5f4f4;border:1px solid #ccc}
.page i{color:#666}
.select_box{cursor:pointer;display:inline-block;*display:inline;*zoom:1;position:relative;padding:5px 17px 0;*padding-top:0;z-index:1}
.select_box i{width:0;height:0;border-width:5px;border-color:#bbb transparent transparent;border-style:solid dashed dashed;position:relative;display:inline-block;
*display:inline;*zoom:1;top:-6px;left:5px}
.select_box .text{display:inline-block;line-height:30px;height:30px;overflow:hidden}
.select_box ul{position:absolute;left:-1px;top:30px;overflow:hidden;display:none;background:#fff;z-index:99999;width:100%;border:1px solid #ccc;border-top:none}
.select_box ul li{display:block;height:30px;overflow:hidden;line-height:30px;width:100%;cursor:pointer;padding-left:14px}
.select_box .hover{color:#f60}
.box_hover{color:#f60}
.select_box_hover{background-color:#fff;border:1px solid #ccc;border-top:none;border-bottom:none}
.select_box2{padding:2px 6px 0 17px}
.select_box2 i{top:-6px;*top:0}
.reply{background-color:#f5f5f5;padding:10px 0 10px 20px;margin-bottom:10px;position:relative}
.reply .close{position:absolute;right:10px;top:8px;cursor:pointer;width:24px;
	height:24px;overflow:hidden;}
.reply .close:hover{background-position:left -24px}
.addresstabchild span{margin:0 15px 10px 0;cursor:pointer;display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.addresstabchild .active{padding:5px 8px;border:1px solid #f60}
.qih,.qi{padding-left:20px;height:23px;line-height:32px}
.search{width:145px;padding-right:25px;right:10px}
.search1{position:absolute;right:10px;top:6px;border:0!important;height:21px;width:21px;cursor:pointer}
.fan,.dong,.shou,.zheng{width:18px;height:18px;line-height:18px;text-align:center;display:inline-block;*display:inline;*zoom:1;margin-left:1px}
.fan{background-color:#f5ab36}
.dong{background-color:#a25de9}
.zheng{background-color:#63c836}
.shou{background-color:#2eb600}
.share{position:absolute;width:100px;padding:10px 10px 5px;background-color:#fff;border:1px solid #ccc;right:0;top:19px;*top:28px;*right:7px;z-index:2;display:none}
.speed{margin-top:25px}
.speed .left{padding-left:30px;width:75%}
.speed .left{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-top:-3px}
.speed .right{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;margin-top:-3px;margin-left:26px}
.vam span{vertical-align:middle}
.w_33{width:33%}
.mr_50{margin-right:-50px}
.userimg{border-radius:50%;border:1px solid #ddd}
.brs1d{border-right:1px solid #ddd}
.carnew{width:90px;height:60px;position:relative;border:1px solid #ccc;padding:1px;background-color:#fff}
.carnew img{width:90px;height:60px;vertical-align:top}
.carnew .dot{position:absolute;border-width:18px;border-color:#f60 transparent transparent #f60;border-style:solid;left:1px;top:1px;width:0;height:0}
.carnew .tit{position:absolute;left:5px;top:3px;color:#fff;font-size:12px}
.carname{width:200px;height:1em;line-height:1.2em;overflow:hidden;padding-bottom:2px}
.loadimg{display:block;margin:0 auto}
.loadtr{height:30px}
.speed1{margin-left:30px}
.zycl{font-size:14px;color:#5169b3;font-weight:bold;padding-left:15px;margin-top:48px}
.tab02 tr td{line-height:24px}
#xiaoxi{z-index:99999;width:600px;top:35px;margin:0 0 0 300px;position:fixed;height:35px;text-align:left;display:none}
#xiaoxi{width:550px;height:37px;font-size:14px;line-height:37px;font-weight:bold}
#xiaoxi.xiaoxi_red{background:#ffefe8;border:1px solid #ffb392;color:red}
#xiaoxi.xiaoxi_green{background:#f4fff2;border:1px solid #33e95e;color:#005400}
#xiaoxi.xiaoxi_blue{background:#d9ecff;border:1px solid #2daddd;color:#000f6d}
#xiaoxi.xiaoxi_blue font{color:red}
#xiaoxi.curs{cursor:pointer}
.prompt_img{position:absolute;margin:5px 0 0 0}
.prompt{height:35px;line-height:35px;text-align:left;font-size:14px;z-index:1;margin:0 0 0 35px;position:absolute;overflow:hidden;font-weight:bold}
.mt8{margin-top:8px}
.pr{position:relative}
.onmenu{background-color:#de5a02}
.onmenu a{color:#fff!important}
.leftactive a{color:#f60!important}
.w_23{width:23%}
.w_75{width:75%}
.contentLeft{height:535px;float:left;overflow:auto;border:1px #ccc solid}
.wauto{width:auto}
.h150{height:150px}
.w350{width:350px}
.w310{width:310px}
.w520{width:520px}
.ml80{margin-left:80px}
.mr50{margin-right:50px}
.top .weixin .weixinbox{position:absolute;left:0;top:36px;padding:10px 10px 0;border:1px solid #e4e3e3;display:none;background-color:#fff;z-index:2;width:92px}
.top .weixin .weixinbox p{text-align:center;color:#959595}
.top .weixin .weixinbox img{width:92px}
.w_10{width:10%}
.w_55{width:55%}
.w_25{width:25%;*width:24%}
.ca{color:#aaa}
.bdbparent{border-bottom:solid 1px transparent}
.ml_1{margin-left:-1px}
.pl120{padding-right:120px}
.pr120{padding-left:120px}
.btn_float{float:left}
.fz16{font-size:14px}
	@media screen and (-webkit-min-device-pixel-ratio:0){
		.file{font-size:12px!important}
	}
.mycyp_sign{background-color:#f60;color:#fff;cursor:pointer;line-height:24px;display:inline-block;*display:inline;*zoom:1;
	position:relative;top:-3px;padding:0 5px;margin-left:10px}
.fw{font-weight:bold}
.w500{width:500px}
.w250{width:250px}
.picup-wrap{position:relative;overflow:hidden}
.authenticationFile{width:120px;opacity:0;filter:alpha(opacity=0);height:140px;font-size:108px;position:absolute;top:-20px;z-index:2;cursor:pointer}
.authenticationImg{display:block;width:120px;height:120px}
.upTip{position:relative;bottom:-30px;left:0;font-size:16px;color:#fff;background-color:#000;width:120px;height:30px;
	line-height:30px;text-align:center;opacity:.7;filter:alpha(opacity=50);border-bottom-left-radius:12px;border-bottom-right-radius:12px}
.picup-wrap li{float:left;width:120px;height:120px;border-radius:5px;overflow:hidden;position:relative}
.onlytext{font-size:18px;padding:30px 30px 0;text-align:left;line-height:1.6}
.bs1cheng{border:solid 1px #f60}
.lh80{line-height:80px}
.window_freshTask1{width:438px;height:120px;position:absolute;left:-190px;top:0;border:1px #d1d1d1 solid;background:#fff;font-size:14px}
.window_content{height:47px;line-height:24px}
.pt34{padding-top:34px}
.mt34{margin-top:34px}
.pl85{padding-left:85px}
.f_E35F17{color:#e35f17}
.f_bold{font-weight:bold}
.bgf8{background:#f8f8f8}
.newsubnav li{line-height:27px}
.newsubnav li.cur a{color:#f60}
.newsubnav a{color:#6a6a6a}
.newsubnav a:hover{color:#f60}
.lh27{line-height:27px}
.c6a{color:#6a6a6a}
.h12{height:12px}
.h14{height:14px}
.mb16{margin-bottom:16px}
.w136{width:13%;max-width:136px}
.w1000{width:85%;max-width:1040px}
.mt12{margin-top:12px}
.mt18{margin-top:18px}
.bs1d{border:1px solid #ddd}
.bs1cheng{border:1px solid #f60}
.w50{width:50px}
.h40{height:40px}
.lh40{line-height:40px}
.h24{height:24px}
.lh24{line-height:24px}
.hoverblue:hover{color:#2f7ee1}
.mt23{margin-top:23px}
.w110{width:110px}
.mr40{margin-right:40px}
.b1se1{border:1px solid #e1e1e1}
.bb1se1{border-bottom:1px solid #e1e1e1}
.bgf5{background:#f5f5f5}
.bs1re6{border-right:1px solid #e6e6e6}
.hoverc3:hover{color:#333}
.w100{width:100px}
.hover6:hover{color:#666}
.h32{height:32px}
.lh32{line-height:32px}
.inblock{display:inline-block}
.block{display:block}
.mb_3{margin-bottom:3px}
.mb80{margin-bottom:80px}
.mb25{margin-bottom:25px}
.lh90{line-height:90px}
.bgfa{background:#fafafa}
.pt20{padding-top:20px}
.b1sgreen{border:solid 1px #10c62a}
.cpink{color:#fe5e5e}
.b1spink{border:solid 1px #fe5e5e}
.mt150{margin-top:150px}
.w385{width:385px}
.mt50{margin-top:50px}
.bls4cheng{border-left:solid 4px #f60}
.w50_{width:49%}
.nncarname{width:24%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.nncarinfo{width:500px;margin-right:5%}
.nncarinfo li{padding:0 2%}
.phoneLogin .clblue{color:#45b4fc}
.phoneLogin .pointer{cursor:pointer}
.phoneLogin .mt5{margin-top:5px}
.w820{width:820px}
.pl80{padding-left:80px}
.lh60{line-height:60px}
.brs1e{border-right:1px solid #eee}
.bgf678{background:#f6f7f8}
.p18{padding:18px}
.bgmincheng{background:#f7e7dd}
.ml28{margin-left:28px}
.b10{bottom:10px}
.r10{right:10px}
.w32{width:32.3%;margin-right:1%;float:left}
.w33{width:33.3%;float:left}
.h100{height:100px}
.pl5{padding-left:5px}
.pr5{padding-right:5px}
.h60{height:60px}
.lh60{line-height:60px}
.pl80{padding-left:80px}
.pr80{padding-right:80px}
.pl100{padding-left:100px}
.w150{width:150px}
.brs1e{border-right:1px solid #eee}
.pl290{padding-left:290px}
.w550{width:550px}
.bgf678{background:#f6f7f8}
.p18{padding:18px}
.bgmincheng{background:#f7e7dd}
.mb_3{margin-bottom:-3px}
.ml28{margin-left:28px}
.w520{width:520px}
.b10{bottom:10px}
.r10{right:10px}
.bgf4{background:#f4f4f4}
.w820{width:820px}
.pt150{padding-top:150px}
.pb200{padding-bottom:200px}
.h90{height:90px}
.w168{width:168px}
.h126{height:126px}
.mr25{margin-right:25px}
.wordS{overflow:hidden;text-overflow:ellipsis;white-space:nowrap} 
.mw400{max-width:400px}
.mw500{max-width:500px}
.ietitle{padding:8px 5px;*padding-top:0}
.ieclose{top:6px!important}
.w1200{margin-left:auto;margin-right:auto;}
.loginBox{width:318px;float:right;position:relative}
.login{height:358px;border:solid 1px #e5e5e5;position:absolute;background:#fff;z-index:100}
.login.ztop{z-index:120}
.login ul{height:45px;margin-bottom:22px}
.login ul li{float:left;width:157px;height:45px;line-height:45px;text-align:center;font-size:16px;background:#f5f5f5;border-bottom:solid 1px #e5e5e5;cursor:pointer}
.login ul li:first-child{width:158px;border-right:solid 1px #e5e5e5}
.login ul li.cur{background:#fff;color:#f60;border-bottom:none}
.login .loginType{width:240px;margin:0 auto}
.login .mes p{height:42px;margin-bottom:15px;width:238px;position:relative}
.login .mes p input.cur{border-color:#f60}
.login .mes p i{display:inline-block;width:49px;height:38px;line-height:38px;text-align:center;margin-bottom:-15px;position:absolute;top:0;left:0}
.login .mes p i.iconall{font-size:18px;color:#999;background:none}
.login .mes input{height:38px;float:left;line-height:38px;border:none;font-size:14px;color:#999;width:188px;padding-left:50px;border:solid 1px #d2d6d9}
.login .mes .account i{background-position:11px 8px}
.login .mes .phone i{background-position:-184px 9px}
.login .mes .password i{background-position:-26px 8px}
.login .mes .yzm i{background-position:-65px 8px}
.login .mes .yzm input{width:91px;padding-left:49px;float:left}
.login .mes .yzm span{display:block;float:left;width:95px;height:38px;border:solid 1px #d2d6d9;border-left:none;margin-bottom:-4px;margin-left:0;text-align:center;line-height:40px;cursor:pointer;background-color:#f5f5f5}
.login .mes .yzm span.no{background:#999;color:#fff}
.login .mes .yzm span img{display:block;width:57px;height:24px;margin:7px auto}
.phoneLogin .mes p{margin-bottom:0}
.phoneLogin .mes .btn{display:block;width:240px;height:40px;font-size:16px;background:#f60;color:#fff;border:none;margin-bottom:6px;padding-left:0!important;cursor:pointer}
.phoneLogin .phone{margin-top:0}
.login .mes b{display:block;height:22px;line-height:22px;color:red;font-weight:normal}
.mes p.mb6{margin-bottom:6px}
.login .rember{zoom:1;overflow:hidden;padding:13px 0 20px 0}
.login .rember span{float:left;color:#666;font-size:12px;cursor:pointer}
.login .rember span i{display:inline-block;width:17px;height:17px; margin-bottom:-3px;margin-right:5px}
.login .rember a{float:right;color:#f60}
.login .loginBtn,.login .btn{zoom:1;overflow:hidden}
.login .loginBtn span,.login .btn span{display:block;width:108px;height:38px;text-align:center;line-height:38px;border:solid 1px;float:left;font-size:16px;cursor:pointer}
.login .loginBtn span.loginBtn,.login .btn span.loginBtn{background:#f60;border-color:#f60;color:#fff}
.login .loginBtn span.regBtn,.login .btn span.regBtn{background:#fff;border-color:#e5e5e5;color:#333;float:right}
.login .error{display:block;color:red;font-weight:normal;padding-top:6px}
.downLoadApp{padding:22px 0;line-height:24px;font-size:14px;color:#666}
.downLoadApp.none{display:none}
.downLoadApp i{float:left;margin-right:8px;font-size:24px}
.downLoadApp a{display:inline-block;width:85px;height:17px;margin-left:10px;margin-top:2px;}
.personBox{border:solid 1px #d2d6d9}
.personBox .personHead.money{height:255px; }
.personHeadIcon{zoom:1;overflow:hidden}
.personHead .news{display:block;float:right;margin:15px 20px 0 0;cursor:pointer;font-size:28px}
.personHead .news:hover{color:#fff}
.personHead dl{display:block;width:72px;margin:0 auto}
.personHead dl dt{display:block;width:82px;height:82px;border-radius:82px;border:solid 3px #fff;overflow:hidden}
.personHead dl dt img{display:block;width:82px;min-height:82px}
.personHead dl dd{width:316px;margin-left:-122px;text-align:center;padding-top:12px;color:#fff;font-size:16px}
.personBox .personHead.money ul{margin-top:25px;border-bottom:none}
.personBox .personHead.money ul b,.personBox .personHead.money ul span{color:#fff}
.personBox .personHead.money ul li{border:none;margin-top:11px}
.personBox .money{background:#fff}
.personBox .money ul{zoom:1;overflow:hidden}
.personBox .money ul.las{border-bottom:none}
.personBox .money ul li{float:left;width:104px;margin-top:20px}
.personBox .money ul li p{display:block;cursor:pointer}
.personBox .money ul li.las{border-right:none;width:105px}
.personBox .money ul li i{display:block;width:26px;height:25px;margin:0 auto;color:#888;font-size:20px}
.personBox .money ul li i.ddcl{font-size:22px}
.personBox .money ul li b{display:block;text-align:center;color:#f60;font-size:18px;font-weight:normal}
.personBox .money ul li b em{font-size:14px}
.personBox .money ul li span{display:block;font-size:12px;color:#888;text-align:center}
.personBox .money .moreMon a{display:block;text-align:center;color:#888;font-size:12px}
.main{background:#f5f5f5;padding-top:40px;width:100%!important;margin:0!important}
.main h4{border-bottom:solid 1px #ccc;font-size:20px;line-height:20px;color:#333;padding-bottom:10px;margin-bottom:19px;zoom:1;overflow:hidden}
.main h4 a{color:#333;float:left}
.main h4 .goSpe{font-size:14px;float:right;padding-right:10px}
.main h4 .goSpe:hover{color:#f60}
.main h4 i{display:inline-block;float:left;width:5px;height:20px;background:#f60;margin-right:8px;margin-bottom:-3px}
.main h4 span{margin-left:13px;color:#666;font-size:14px}
.main h4 span em{font-size:18px;color:#f60}
.main h4 img{height:30px;margin-bottom:-13px;margin-left:18px}
#Activites{position:relative;z-index:0}
.carList{zoom:1;overflow:hidden}
.carMain{float:left;background:#fff;border:solid 1px #eee;position:relative;z-index:0}
.carMain.las{margin-right:0}
.carMain:hover{border-color:#f60}
.carMain img{display:block}
.carMain .lv{position:absolute;top:0;left:0;display:block;width:60px;height:26px;background:#f60;color:#fff;font-size:18px;text-align:center;line-height:26px}
.carMain h2{height:50px;font-size:14px;line-height:16px;font-weight:bold;padding:17px 6px 0 6px;color:#000}
.carMain .caeMes{font-size:12px;color:#959595;padding:0 6px}
.carMain .caeMes span{padding:0 10px;border-left:solid 1px #959595}
.carMain .caeMes span:first-child{border-left:none;padding-left:0}
.carMain .timeAndPrice{color:#666;font-size:14px;zoom:1;overflow:hidden}
.carMain .timeAndPrice span{display:block}
.carMain .timeAndPrice b{color:#f60}
.carMain .timeAndPrice .time{float:left;margin-top:3px}
.carMain .timeAndPrice .price{float:right}
.carMain .timeAndPrice .price b{font-size:16px}
.carMain .end{position:absolute;display:block;width:100%;height:100%;display:none;}
.carMain .end img{display:block;width:80px;height:80px;margin:69px auto}
.carMain .end span{display:block;width:100px;height:40px;background:#f60;color:#fff;font-size:16px;line-height:40px;text-align:center;border-radius:5px;margin:0 auto}
.more{padding-bottom:100px}
.more a{display:block;width:260px;height:46px;background:#f60;color:#fff;font-size:16px;line-height:46px;text-align:center;margin:0 auto}
.more a:hover{background:#ffae00}
.fixedBar{position:fixed;right:-40px;top:0;z-index:200;width:40px;height:100%;background:#000}
.fixedBar li{height:40px;margin-top:10px;position:relative}
.fixedBar li i{display:block;width:40px;height:40px;cursor:pointer}
.fixedBar .center{position:absolute;top:35%;margin-top:-120px}
.fixedBar .center li a{display:none;position:absolute;background:#333;width:96px;height:30px;right:80px;top:5px;text-align:center;line-height:30px;
	color:#fff;font-size:12px}
.fixedBar .center li a b{width:0;height:0;border-left:solid 5px #333;border-top:solid 5px transparent;
		border-right:solid 5px transparent;border-bottom:solid 5px transparent;position:absolute;z-index:10;display:inline-block;*display:inline;*zoom:1;
		right:-10px;top:10px}
 
.fixedBar .help .tel i.iconfont{font-size:18px}
.fixedBar .help .app i{background-position:-28px -72px}
.fixedBar .help .pro i{background-position:-69px -71px}
.fixedBar .help .top i{display:none}
.fixedBar .help .code_box_new{right:40px;bottom:0}
.fixedBar .help .code_box_new .close{position:absolute;right:10px;top:10px;display:block;color:#999;font-size:22px}
.fixedBar .help .code_box_new .close:hover{color:#f60}
.fixedBar .help .code_box_new img{margin-top:30px}
.fixedBar .help .tel dl{position:absolute;right:40px;bottom:0;width:240px;height:70px;border:solid 1px #d2d2d2;z-index:10;background:#fff;display:none}
.fixedBar .help .tel dl dt{display:block;float:left;margin:21px 11px 0 12px;font-size:32px;color:#999}
.fixedBar .help .tel dl dd{float:left;padding:17px 0;font-size:14px;color:#666}
.fixedBar .help .tel dl dd p span{color:#f60}
.fixBarShow{position:fixed;width:20px;height:28px;right:0;top:15%; cursor:pointer;display:none}
.remindBox{position:fixed;width:100%;height:100%;top:0;left:0;z-index:110; }
.remindCont{width:370px;height:198px;position:absolute;right:325px;bottom:-34px;z-index:111}
.remindCont img{display:block}
.remindCont span{position:absolute;display:block;opacity:0;width:98px;height:43px;z-index:101;top:123px;left:120px;cursor:pointer}
.w1200{max-width:1200px;min-width:1200px;_width:1200px;margin-left:auto;margin-right:auto}
.bannerAndLogin{height:360px;margin-bottom:30px}
.banner{width:876px;height:360px}
.banner li{width:291px}
.banner li img{width:282px;height:358px;border:solid 1px #e5e5e5}
.loginBox{height:360px}
.login{height:358px}
.personBox{height:358px}
.personBox .money ul{height:100px}
.personBox .money ul li{height:46px}
.personBox .money ul li b{height:25px;line-height:25px}
.personBox .money ul li span{height:22px;line-height:22px}
.personBox .money .moreMon a{line-height:46px}
.carMain{width:291px;height:348px;margin-right:9px}
.carMain img{width:291px;height:210px}
.carMain .timeAndPrice{padding:10px 6px}
.empty{padding-top:0}
.emptyBox{background:#ededed;padding:60px 0;text-align:center;margin-bottom:12px}
.emptyBox img{display:block;margin:0 auto}
.emptyBox h6{font-size:30px;color:#333;padding-top:165px; }
.emptyBox h6.second{background-position:center -210px}
.emptyBox h6.third{background-position:center -420px}
.emptyBox h6.last{background-position:center -630px}
.emptyBox p{color:#bebebe;font-size:18px;padding:25px 0}
.emptyBox button{width:181px;height:46px;background:#f60;color:#fff;border:none;font-size:16px; cursor:pointer}
.downloadApp .code_box{width:180px;height:190px;right:0;top:30px;display:none;z-index:110}
.downloadApp .code_box img{margin-top:22px}
.downloadApp:hover .code_box{display:block;color:#666}
.banner .list li:hover img{box-shadow:0 0 5px #ccc}
.fresh .carMain{height:320px}
.fixedBar{height:auto;width:54px;bottom:80px;top:auto;right:0;background:#f5f5f5;border:solid 1px #ccc;border-right:none;z-index:10000}
.fixedBar .help{width:100%}
.fixedBar li{width:100%;height:42px;border-bottom:solid 1px #ccc;cursor:pointer;margin:0;padding-top:10px;float:left}
.fixedBar .help li i{width:20px;height:20px;font-size:16px;margin:0 auto}
.fixedBar li span{display:block;color:#666;text-align:center}
.fixedBar li:hover,.fixedBar li.cur,.fixedBar li:hover span,.fixedBar li.cur span{background:#fff;color:#f60}
.fixedBar .help .tel dl{right:54px;bottom:-1px}.fixedBar .help .tel dl span{display:inline}
.fixedBar li.appIc{border-bottom:none}
.fixedBar li.appIc:hover .code_box_new span,.fixedBar li.appIc.cur .code_box_new span{color:#666}
.fixedBar .help .code_box_new{right:54px;bottom:-1px}
.fixedBar .help .code_box_new span{display:inline}
.fixedBar li.top{width:54px;height:22px;padding:0;border-bottom:0;background:#000;position:absolute;right:1px;bottom:-25px;line-height:22px;color:#ccc;
	text-align:center;font-size:12px;display:none}
.fixedBar .help li.top i{display:inline-block;width:13px;font-size:12px;margin-bottom:1px}
.login .mes .yzm #spTimeTxt{color:#aaa}
.Loginpopup{position:fixed;width:100%;height:100%;left:0;top:0;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType='0',startcolorstr='#7F000000',endcolorstr='#7F000000');
	background:rgba(0,0,0,.5);text-align:center;display:none;z-index:300}
.Loginpopup .vm,.Loginpopup>div{vertical-align:middle;display:inline-block;*display:inline;*zoom:1}
.Loginpopup .vm{width:0;height:100%}
.nbtn{display:inline-block;*display:inline;*zoom:1;cursor:pointer}
.pup-nbtn-list{border-top:solid 1px #e5e5e5;font-size:0}
.pup-nbtn-list .nbtn{height:60px;line-height:60px;text-align:center;width:50%;color:#999}
.pup-nbtn-list .nbtn:hover{background-color:#f5f5f5;color:#f60}
.pup-nbtn-list .nbtn-first{border-right:solid 1px #e5e5e5;margin-right:-1px;*margin-right:-2px}
.message-ver{height:60px;line-height:60px;font-size:20px;padding-left:20px;color:#333;border-bottom:1px solid #ccc;position:relative}
.message-ver .close{position:absolute;width:18px;height:18px; cursor:pointer;right:20px;top:20px}
.message-ver .close:hover{background-position:-10px -46px}
.message-ipt{width:230px;height:36px;line-height:36px\9;padding:0 15px;border:1px solid #ccc;vertical-align:middle;color:#aaa}
.message-time{width:155px;height:38px;line-height:38px;background-color:#eee;text-align:center;color:#aaa;display:inline-block;*display:inline;*zoom:1;
	vertical-align:middle;margin-left:10px;cursor:pointer}
	.message-time1{width:155px;height:38px;line-height:38px;background-color:#eee;text-align:center;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
		margin-left:10px;cursor:pointer}
.message-sure{display:block;height:46px;line-height:46px;color:#fff;cursor:pointer;font-size:16px;text-align:center;background-color:#f60}
.message-suret{display:inline-block;*display:inline;*zoom:1;height:46px;line-height:46px;color:#fff;cursor:pointer;font-size:16px;text-align:center;width:35%;
	background:#f60}
.message-yz{vertical-align:middle;margin-left:40px}
.tl{text-align:left}
.p20{padding:20px}
.bdr10{border-radius:10px}
.bgwhite{background:#fff}
.gotoold{cursor:pointer;height:25px;line-height:25px}
.gotoold .iconall{color:#999;margin-right:5px}
.pubNotice{float:left;width:215px;height:16px;line-height:16px;font-size:13px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-top:2px}
.pubNotice:hover{color:#f60}
.icon-notice{float:left;margin-right:5px;color:#f60}
.bggray.bbs1{width:100%;min-width:1200px}
#top{width:100%;min-width:1200px;line-height:32px;background:#f1f1f1;font-size:12px}
.top_in{margin:0 auto;height:32px;color:#676767}
.top_in a{color:#676767}
.top_in a:hover{color:#f60}
.top{height:37px;line-height:36px;color:#959595}
.top a{color:#959595;display:inline-block;*display:inline;*zoom:1}
.top a:hover{color:#f60}
.top a .iconall{margin-right:5px}
.top span{padding:0 5px;cursor:pointer}
.top .dot{width:0;height:0;border-width:5px;border-color:#bbb transparent transparent;border-style:solid dashed dashed;position:relative;
	display:inline-block;*display:inline;*zoom:1;top:4px;margin-left:5px;*top:-6px;*left:5px}
.top .down{display:inline-block;*display:inline;*zoom:1;position:relative;border-left:1px solid #eee;border-right:1px solid #eee;cursor:pointer;z-index:120}
.top .down2{background-color:#fff;border-left:1px solid #ccc;border-right:1px solid #ccc}
.top .slidedown{position:absolute;top:36px;left:-1px;border:1px solid #ccc;border-top:none;background-color:#fff;display:none}
.top .con01{width:274px;padding:15px;line-height:24px}
.top .con01 .photo{border-radius:50%;width:83px;height:83px}
.top .con01 .blue{color:#f60}
.top .con02{width:100%;line-height:24px}
.top .con02 a:hover{text-decoration:underline}
.top .con02 ul{padding-left:10px}
.top .weixin{position:relative;display:inline-block}
.top .iconfont{margin-right:5px}
.top .icon-wx{font-size:18px;position:relative;top:2px}
.top .weixin .weixinbox{position:absolute;left:0;top:39px;padding:10px 10px 0;border:1px solid #e4e3e3;display:none;background-color:#fff;z-index:2;width:92px}
.top .weixin .weixinbox p{text-align:center;color:#959595}
.top .weixin .weixinbox img{width:92px}
.nav{width:100%;min-width:1200px;height:88px;border-bottom:solid 2px #f60;background:#fff}
.nav .logo{display:block;width:230px;height:54px;float:left;margin-top:17px}
.nav .logo img{display:block; width: 200px}
.nav ul{display:block;float:left;padding:26px 0px;}
.nav ul li{float:left;margin-right:5px;font-size:16px;height:36px;line-height:36px}
.nav ul li a{display:block;color:#333;padding:0 30px; margin-left: 20px}
.nav ul li a:hover,.nav ul li.cur a{color:#f60;}
.downloadApp{float:right;padding-right:10px;margin-top:30px;font-size:14px;color:#666;cursor:pointer;position:relative;z-index:101}
.downloadApp i{display:inline-block;width:18px;height:24px;margin-bottom:-6px;
	margin-right:6px}
.downloadApp:hover,.downloadApp:hover .iconall{color:#f60}
.downloadApp:hover i{background-position:0 -160px}
.downloadApp .code_box_new{width:180px;height:190px;right:0;top:30px;display:none}
.downloadApp .code_box_new img{margin-top:10px}
.downloadApp:hover .code_box_new{display:block;color:#666} 
#footer{width:100%;min-width:1200px;text-align:center;padding:43px 0;font-size:12px;background-color:#333;border-top:1px solid #e5e5e5}
#footer .safeguard .img-wrap{margin-right:8px}
#footer .safeguard p{color:#a0a0a0}
#footer .ml30{margin-left:30px}
#footer .app dl{float:left}
#footer .app dl:first-child{margin-right:58px}
#footer .app dl:first-child img{width:87px;height:87px}
#footer .ios:hover{color:#9abdc8}
#footer .andriod:hover{color:#8fc31f}
#footer .APP p{padding:6px 0}
#footer .ml25{margin-left:25px}
#footer .ml6{margin-left:6px}
#footer .pt5{padding-top:5px}
#footer .ml94{margin-left:94px}
#footer a{color:#515151;text-decoration:none}
#footer a:visited{color:#515151}
.footer_container{width:1200px;margin:0 auto;overflow:hidden}
#footer .footer_nav a:hover{color:#ff7500}
.spe-header{border-bottom:3px solid #ff7500}
#footer .iconall.icon_tx:hover{color:#36a4d2}
#footer .iconall.icon_weibo:hover{color:red}
.inblock{display:inline-block;*display:inline;*zoom:1}
#footer .iconall{font-size:20px;color:#959595}
.f18{font-size:18px}
.pup .suggest-input{width:470px;height:15px;background-color:#fff;color:#b5b5b5;font-size:14px;resize:none;font-family:Arial;padding:10px;
border:1px solid #e0e0e0;margin:10px 0}
.code_box_new{width:180px;height:210px;border:1px solid #e6e6e6;position:absolute;background:#fff;display:none;cursor:pointer;z-index:2;text-align:center;
font-size:12px}
.code_box_new img{display:block;margin:0 auto;width:140px;height:140px}
.code_box_new span{font-size:14px;color:#f60}
.logins a{ color: #666; font-size:16px;padding: 0 10px}
.logins{width: 200px; float: right; line-height: 88px; }

/*banner*/
.banner{ width: 100%; position: relative; overflow: hidden;}
.banner ul{  position: absolute;}
.banner ul li{ width: 100%; height: 540px; float: left; background:  no-repeat center center;}
.banner ol{
    /*width: 60px;*/
    height: 20px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left:50%;
    /*margin-left: -40px;*/
    bottom: 30px;
    padding: 0 10px;
    border-radius: 10px;
    z-index: 1000;
}
.banner ol li{
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px 5px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
}
.banner ol .current{ background: rgba(255,255,255,1);}
.banner i{
    width: 58px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}
.banner .left:hover , .banner .right:hover{ background-color: rgba(0, 0, 0, 0.31);}
.login{ display: none !important }

.main-conter{ width: 1200px;margin:30px auto; overflow:hidden;}
.main-conter>dl{ width: 33%; float: left; text-align: center; }
.main-conter>dl dt img{ width: 110px }
.main-conter>dl dd{ font-size: 18px; color: #333; line-height: 60px }
.main-conter>dl p{ width: 65%; margin:0 auto; line-height: 25px; font-size: 14px }
.jilu-con{ background: #f5f5f5 }
.jilu{ width: 1300px; margin:0px auto; padding: 50px 0; overflow: hidden;}
.jilu h2{ text-align:center; line-height: 95px; font-size: 36px;color: #333 }
.jilu .lists a{ color: #666 }
.jilu .lists { background: #fff; width: 280px;overflow: hidden;padding:  0 0 10px 0; float: left; margin:50px 15px;box-shadow: 0 0 4px 0 rgba(0,0,0,0.07), 0 0 12px 0 rgba(0,0,0,0.07);}
.jilu .lists .title{    font-size: 18px; height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;color: #333; padding:10px}

.jilu .lists .option{color: #999; padding: 0 10px; font-size: 14px;}
.jilu .lists .date{ width:40%;color: #999;  font-size: 14px; float: left; margin-top: 8px; padding: 0 10px }
.jilu .lists .price{ text-align: right; width: 40%; float: right;color: #f60; font-size: 24px;padding: 0 10px  }
.jilu .mores{clear: both; background:#f60; width:120px; margin:20px auto; height:40px; line-height: 40px; color:#fff; text-align:center; cursor:pointer;}
.new{ width: 1200px; margin:30px auto; overflow: hidden;}
.new h2{ text-align:center; line-height: 95px; font-size: 36px;color: #333  }
.new p{ width: 280px; height: 200px; float: left;overflow: hidden; padding:10px 20px;
 background:#999; color: #fff; margin-left: 70px; margin-top:30px; margin-bottom:60px; font-size: 14px;}
.new p span{ display:block; font-size: 18px; color: #fff; text-align: center; line-height: 95px }
.new p.p1{ background: #1a91f7 }
.new p.p2{ background: #f79400 }