@charset "utf-8";
a{color:#000;text-decoration:none;outline:none}
a:hover{color:#ffc200}a{border:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none}
a:link,a:visited,a:active,a:focus{border:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:none}
.f_l{float:left}
.f_r{float:right}
.ta-l{text-align:left}
.ta-c{text-align:center}
.ta-r{text-align:right}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}.mb35{margin-bottom:35px}.mb40{margin-bottom:40px}
.mb45{margin-bottom:45px}.mb50{margin-bottom:50px}.mb55{margin-bottom:55px}
.pt10{padding-top:10px}.pt20{padding-top:20px}.pt30{padding-top:30px}
.pt40{padding-top:40px}.pt50{padding-top:50px}.wb10{width:10%}.wb15{width:15%}
.wb20{width:20%}.wb25{width:25%}.wb30{width:30%}.wb35{width:35%}.wb40{width:40%}
.wb45{width:45%}.wb50{width:50%}.wb55{width:55%}.wb60{width:60%}.wb65{width:65%}
.wb70{width:70%}.wb75{width:75%}.wb80{width:80%}.wb85{width:85%}
.blue{color:#ffc200}.black{color:#000}.red{color:#fd4f5c}
.c000{color:#000}.c333{color:#333}.c666{color:#666}
.c999{color:#999}
.bg_fff{background:#fff}
.bg_ED5{background:#dee1e5}
.bg_eee{background:#eee}
input::-webkit-input-placeholder{color:#999}
input:-moz-placeholder{color:#999}
input::-moz-placeholder{color:#999}
input:-ms-input-placeholder{color:#999}
::-webkit-scrollbar-track-piece{width:10px;background-color:#fff}
::-webkit-scrollbar{width:10px;background-color:#ffc200}
::-webkit-scrollbar-thumb{width:10px;background-color:#d8d8d8;border-radius:10px}
::-webkit-scrollbar-thumb:hover{width:10px;background-color:#ffc200;border-radius:10px}
.none{display:none}.container_full{width:100%;min-width:1200px}
.container{width:1200px;margin:0 auto}
.clearfix:after{content:"\0020";display:block;height:0;clear:both}
.clearfix{_zoom:1}*+html 
.clearfix{overflow:auto}
._inputClear{position:relative}
._inputClear i._clear{display:block;width:18px;height:18px;outline:none; position:absolute;top:50%;margin-top:-9px;right:15px;opacity:1}
._inputClear i._clear:active,._inputClear i._clear:focus{outline:none;opacity:.8}
._inputClear i._clear.none{display:none}._loading{padding:50px 0;text-align:center;color:#ddd;font-weight:400;line-height:100px}
.__pagenav{padding:10px 0;text-align:center;position:relative;height:40px}
.__pagenav ._nav{display:block;margin:0 auto;position:absolute;top:10px;left:50%}
.__pagenav ._nav ul{margin:0;padding:0}
.__pagenav ._nav ul li{display:block;margin:0 15px;float:left}
.__pagenav ._nav ul li a{display:block;line-height:40px;height:40px;width:40px;text-align:center;border:1px solid #ccc;border-radius:50%;font-size:20px;color:#52575f;font-weight:400;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;overflow:hidden}
.__pagenav ._nav ul li a._btn{text-indent:-9999px;background-repeat:no-repeat;background-position:center}
.__pagenav ._nav ul li a:hover,.__pagenav ._nav ul li a.checked{background-color:#52575f;color:#fff}

#header .header_bg{background:#fff;border-top:6px #ffc200 solid;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.05);
	-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.05);-o-box-shadow:0 2px 8px rgba(0,0,0,0.05);
	box-shadow:0 2px 8px rgba(0,0,0,0.05);position:relative;z-index:999;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;transition:all .3s ease}
#header .header_bg ._header{width:100%}
#header .header_bg ._header ._header_left{float:left;padding:10px 30px}
#header .header_bg ._header ._header_left .logo{float:left;margin-right:50px}
#header .header_bg ._header ._header_left .logo img{height:39px;width:auto;padding-bottom:1px}
#header .header_bg ._header ._header_left .menu{float:left}
#header .header_bg ._header ._header_left .menu ul{margin:0;padding:0}
#header .header_bg ._header ._header_left .menu ul li{float:left;padding:5px 0;margin-right:15px}
#header .header_bg ._header ._header_left .menu ul li a{display:block;line-height:30px;padding:0 10px;font-size:16px}
#header .header_bg ._header ._header_left .menu ul li a:hover,#header .header_bg ._header ._header_left .menu ul li a.checked{color:#ffc200}
#header .header_bg ._header ._header_left .menu ul li a._gift{padding-left:20px;}
#header .header_bg ._header ._header_right{float:right;padding:10px 30px}
#header .header_bg ._header ._header_right .login_enter{float:left;padding:9px 0;width:190px}
#header .header_bg ._header ._header_right .login_enter a{display:block;float:left;font-size:12px;line-height:20px;padding:0 10px;margin:0 10px;color:#333;opacity:1;vertical-align:top;}
#header .header_bg ._header ._header_right .login_enter a:hover{color:#ffc200;}
#header .header_bg ._header ._header_right .header_tel{float:left;margin-left:20px;padding:9px 0}
#header .header_bg ._header ._header_right .header_tel img{height:22px;width:auto;display:block;margin:0;padding:0}
#header._fixed{position:fixed;top:0;left:0;right:0;z-index:99999}
#header._index{position:fixed;top:0;left:0;right:0;z-index:99999}
#header._index .header_bg{background:none;border-top:0 none;padding-top:6px;position:absolute;top:0;left:0;right:0;z-index:9999;-moz-box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;box-shadow:none}
#header._index .header_bg ._header ._header_left .menu ul li a{color:#fff}
#header._index .header_bg ._header ._header_left .menu ul li a:hover,#header._index .header_bg ._header ._header_left .menu ul li a.checked{color:#ffc200}
#header._index .header_bg ._header ._header_right .login_enter a{color:#fff;}
#header._index .header_bg ._header ._header_right .login_enter a:hover{color:#ffc200;}
.__cityList_style{width:100%}.__cityList_style .cli{margin-bottom:5px;font-size:14px}
.__cityList_style .cli ._letter{color:#ffc200;width:50px;text-align:center;float:left;line-height:36px}
.__cityList_style .cli ._cli_list{margin-left:70px;line-height:36px}
.__cityList_style .cli ._cli_list a{display:inline-block;width:60px;text-align:left;color:#333;margin-right:10px}
.__cityList_style .cli ._cli_list a:hover{color:#ffc200}
#footer .footer_top_bg{background:#f2f2f2;border-top:1px #ccc solid;padding:50px 0}
#footer .footer_top_bg .footer_top .ft_menu{float:left;width:620px}
#footer .footer_top_bg .footer_top .ft_menu dl{float:left;width:20%}
#footer .footer_top_bg .footer_top .ft_menu dl dt{font-size:14px;line-height:20px;margin-bottom:10px}
#footer .footer_top_bg .footer_top .ft_menu dl dd{line-height:30px;font-size:13px}
#footer .footer_top_bg .footer_top .ft_menu dl dd a{display:inline-block;text-decoration:none;color:#999}
#footer .footer_top_bg .footer_top .ft_menu dl dd a:hover{color:#ffc200}
#footer .footer_top_bg .footer_top .ft_right{float:right;width:480px}
#footer .footer_top_bg .footer_top .ft_right .__qrcode{float:left;margin-right:50px}
#footer .footer_top_bg .footer_top .ft_right .__qrcode img{display:block;width:auto;height:127px}
#footer .footer_top_bg .footer_top .ft_right .__service{float:right;width:150px}
#footer .footer_top_bg .footer_top .ft_right .__service .___face{margin-bottom:10px;text-align:center}
#footer .footer_top_bg .footer_top .ft_right .__service .___face img{height:40px;width:40px;display:block;margin:0 auto}
#footer .footer_top_bg .footer_top .ft_right .__service .___text{margin-bottom:10px;line-height:20px;font-size:14px;color:#666}
#footer .footer_top_bg .footer_top .ft_right .__service .___text span{font-size:14px}
#footer .footer_top_bg .footer_top .ft_right .__service .___text span.blue{font-size:14px;letter-spacing:1.7px}
#footer .footer_top_bg .footer_top .ft_right .__service .___btn{text-align:center}
#footer .footer_top_bg .footer_top .ft_right .__service .___btn a{display:block;line-height:22px;height:22px;border:1px #ffc200 solid;color:#ffc200;font-size:14px;border-radius:2px}
#footer .footer_bottom_bg{background:#ddd}
#footer .footer_bottom_bg .footer_bottom{padding:20px 0;position:relative}
#footer .footer_bottom_bg .footer_bottom .fb_link{color:#999;font-size:12px;padding:30px 0 0;line-height:20px;float:right;width:704px}
#footer .footer_bottom_bg .footer_bottom .fb_link a{display:inline-block;color:#999;margin-right:10px}
#footer .footer_bottom_bg .footer_bottom .fb_link a:hover{color:#ffc200}
#footer .footer_bottom_bg .footer_bottom .fb_copy{float:left;font-size:12px;color:#666}
#footer .footer_bottom_bg .footer_bottom .fb_copy ._copy{line-height:20px}
#footer .footer_bottom_bg .footer_bottom .fb_copy ._icp{line-height:20px}
#footer .footer_bottom_bg .footer_bottom .fb_cert{position:absolute;left:250px;bottom:20px}
.sidebar_tool{position:fixed;right:20px;bottom:20px;z-index:99999;width:360px}
.sidebar_tool ._tool_menu{background:#fff;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);-o-box-shadow:0 2px 8px rgba(0,0,0,0.2);box-shadow:0 2px 8px rgba(0,0,0,0.2)}
.sidebar_tool ._tool_menu ul{margin:0;padding:0}
.sidebar_tool ._tool_menu ul li{float:left;width:120px;text-align:center}
.sidebar_tool ._tool_menu ul li a{display:block;text-decoration:none;font-size:14px;line-height:60px;height:60px;color:#ffc200;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;border:1px #EFEFEF solid \9;border-left:0 none \9}
.sidebar_tool ._tool_menu ul li a.first{border-left:1px #EFEFEF solid \9}
.sidebar_tool ._tool_menu ul li a.checked,.sidebar_tool ._tool_menu ul li a:hover{background:#ffc200;color:#fff;border-color:#ffc200}
._tool_form{width:100%;background:#fff;height:60px;margin-bottom:20px;position:relative;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);-o-box-shadow:0 2px 8px rgba(0,0,0,0.2);box-shadow:0 2px 8px rgba(0,0,0,0.2);border:1px #EFEFEF solid \9}
._tool_form ._select_city{width:60px;text-align:center;cursor:pointer;position:relative;padding:0 10px}
._tool_form ._select_city .CityText{color:#333;font-size:14px;line-height:60px;display:inline-block;padding-right:15px;}
._tool_form ._select_city .CityText._error{color:#fd4f5c}
._tool_form ._select_city i.icon{display:block;display:none;width:12px;height:8px;position:absolute;top:50%;margin-top:-4px;left:50%;margin-left:15px}
._tool_form ._phone{width:140px;padding:10px 20px;position:relative}
._tool_form ._phone i.border{display:block;border-left:1px #333 solid;height:20px;width:1px;position:absolute;top:50%;margin-top:-10px;margin-left:-20px}
._tool_form ._phone input{border:0 none;width:100%;line-height:20px !important;outline:none;color:#333;font-size:14px;margin:0;padding:10px 0}
._tool_form ._phone input._error{color:#fd4f5c}
._tool_form ._submit{width:100px}
._tool_form ._submit a{display:block;background:#ffc200;color:#fff;line-height:60px;font-size:14px;text-align:center;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
._tool_form ._submit a:hover{background:#00c8fa}
._tool_form .tool_city_floor{position:absolute;bottom:80px;width:360px;height:480px;z-index:999;left:0;right:0;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);-o-box-shadow:0 2px 8px rgba(0,0,0,0.2);box-shadow:0 2px 8px rgba(0,0,0,0.2);border:1px #EFEFEF solid \9}
._tool_form .tool_city_floor .city_floor{margin:10px 10px;height:460px;overflow-y:auto}
._tool_form i._down2{display:block;width:26px;height:15px;position:absolute;bottom:-15px;left:47px;}
#tool_weixin{background:#fff;width:160px;position:absolute;left:50%;margin-left:-80px;bottom:80px;text-align:center;border-radius:2px;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);-o-box-shadow:0 2px 8px rgba(0,0,0,0.2);box-shadow:0 2px 8px rgba(0,0,0,0.2);border:1px #EFEFEF solid \9}
._tool_weixin{position:relative;height:180px}
._tool_weixin .__pic{padding:20px 20px;padding-bottom:10px}
._tool_weixin .__pic img{width:100%;height:auto;display:block;margin:0;padding:0}
._tool_weixin .__text{color:#999;font-size:12px;line-height:16px;padding:0 20px}
._tool_weixin i._down2{display:block;width:26px;height:15px;position:absolute;bottom:-15px;left:50%;margin-left:-13px;}
.msgBox{position:fixed;z-index:999999;top:0;bottom:0%;right:0%;left:0; background: rgba(0,0,0,0.4); width: 100%; height: 100%}
.msgBox .___bg{position:absolute;top:0;bottom:0;right:0;left:0;z-index:9999995;}
.msgBox .___box{position:absolute;top:30%;left:30%;background:#fff;z-index:9999995;border-radius:2px;-moz-box-shadow:0 2px 8px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 8px rgba(0,0,0,0.2);-o-box-shadow:0 2px 8px rgba(0,0,0,0.2);box-shadow:0 2px 8px rgba(0,0,0,0.2)}
.msgBox .___box ._msgBody{width:540px;padding:50px 50px}
.msgBox .___box ._msgBody .__title{font-size:30px;line-height:30px;margin:0;padding:0;margin-bottom:20px;font-weight:400;text-align:center}
.msgBox .___box ._msgBody .__body .__qrcode_login{padding:0 60px}
.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login{float:left;width:180px}
.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login.first{margin-right:60px}
.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login ._pic img{display:block;margin:0;padding:0;width:180px;height:180px}
.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login ._tit{line-height:30px;text-align:center;
	}.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login ._tit span{display:inline-block;padding:0 25px;font-size:12px;background:#fff}
	.msgBox .___box ._msgBody .__body .__qrcode_login ._qrcode_login ._desc{font-size:12px;color:#999;text-align:center;line-height:18px}
.msgBox .___box ._msgBody .__body .__submit_qrcode{height:300px;width:340px;margin:0 auto;}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box{text-align:center;padding:65px 0;padding-bottom:0;width:240px;margin:0 auto}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._tel{font-size:20px;line-height:20px;margin-bottom:5px}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._tit1{font-size:16px;line-height:20px;color:#2a2a2a;margin-bottom:5px}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._qrcode{margin-bottom:0}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._qrcode img{display:block;margin:0 auto;width:140px;height:140px;padding:0}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._tit2{line-height:26px;text-align:center;width:140px;margin:0 auto}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._tit2 span{display:inline-block;padding:0 15px;font-size:12px;background:#fff}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._bottom{font-size:12px;line-height:18px;color:#999;text-align:center}
.msgBox .___box ._msgBody .__body .__submit_qrcode ._sq_box ._bottom p{line-height:18px;padding:0;margin:0;font-size:12px;letter-spacing:0}
.msgBox .___box ._msgBody .__body.__being_body{font-size:20px}
.msgBox .___box ._closeBtn{width:40px;height:40px;cursor:pointer;position:absolute;top:20px;right:20px;opacity:1}
.msgBox .___box ._closeBtn:hover{opacity:.8}
.loan_root_ner{border-radius:4px}
.loan_root_ner span.leboAlertClose{display:block;width:20px;height:20px;position:absolute;top:-25px;right:-25px;cursor:pointer;opacity:1;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.loan_root_ner span.leboAlertClose:hover{opacity:.8}
.loan_root_ner .leboAlertBox{padding:30px 40px;text-align:center;color:#333;font-weight:300;font-size:14px}
.loan_root_ner .leboAlertBox h1{font-size:32px;font-weight:300;line-height:50px}
.loan_root_ner .leboAlertBox h2{font-size:26px;font-weight:300;line-height:40px}
.loan_root_ner .leboAlertBox h3{font-size:20px;font-weight:300;line-height:30px}
.loan_root_ner .leboAlertBox h4{font-size:14px;font-weight:300;line-height:20px}
.loan_root_ner .leboAlertBox p{font-size:14px;font-weight:300;line-height:20px}
.open_window{background:none;border-radius:4px}
.open_window .open_window_bottom_big{padding:20px 40px;text-align:center}
.open_window .open_window_bottom_big a{display:block;line-height:36px;border-radius:4px;border:1px #ddd solid;background:#fff;color:#333;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.open_window .open_window_bottom_big a:hover{border-color:#ffc200;background:#ffc200;color:#fff}
.open_window .open_window_bottom{padding:20px 40px;text-align:center;height:36px;padding-top:0}
.open_window .open_window_bottom a{display:block;line-height:36px;color:#333;border-radius:4px;width:47%}
.open_window .open_window_bottom a._btnLeft{float:left;border:1px #ddd solid;background:#fff;color:#333;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.open_window .open_window_bottom a._btnLeft:hover{border-color:#ffc200;background:#ffc200;color:#fff}
.open_window .open_window_bottom a._btnRight{float:right;border:1px #fd4f5c solid;background:#fff;color:#fd4f5c;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.open_window .open_window_bottom a._btnRight:hover{border-color:#fd4f5c;background:#fd4f5c;color:#fff}
.wow{opacity:0}
 