<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maizhong.auction.mapper.CkCkwgqxMapper">
  <resultMap id="BaseResultMap" type="com.maizhong.auction.pojo.CkCkwgqx">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="car_id" jdbcType="BIGINT" property="carId" />
    <result column="fw" jdbcType="INTEGER" property="fw" />
    <result column="bw" jdbcType="INTEGER" property="bw" />
    <result column="ms" jdbcType="INTEGER" property="ms" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, car_id, fw, bw, ms, des, img
  </sql>
  <select id="selectByExample" parameterType="com.maizhong.auction.pojo.CkCkwgqxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ck_ckwgqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ck_ckwgqx
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ck_ckwgqx
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.maizhong.auction.pojo.CkCkwgqxExample">
    delete from ck_ckwgqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maizhong.auction.pojo.CkCkwgqx">
    insert into ck_ckwgqx (id, car_id, fw, 
      bw, ms, des, img
      )
    values (#{id,jdbcType=BIGINT}, #{carId,jdbcType=BIGINT}, #{fw,jdbcType=INTEGER}, 
      #{bw,jdbcType=INTEGER}, #{ms,jdbcType=INTEGER}, #{des,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maizhong.auction.pojo.CkCkwgqx">
    insert into ck_ckwgqx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carId != null">
        car_id,
      </if>
      <if test="fw != null">
        fw,
      </if>
      <if test="bw != null">
        bw,
      </if>
      <if test="ms != null">
        ms,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=BIGINT},
      </if>
      <if test="fw != null">
        #{fw,jdbcType=INTEGER},
      </if>
      <if test="bw != null">
        #{bw,jdbcType=INTEGER},
      </if>
      <if test="ms != null">
        #{ms,jdbcType=INTEGER},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maizhong.auction.pojo.CkCkwgqxExample" resultType="java.lang.Long">
    select count(*) from ck_ckwgqx
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ck_ckwgqx
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.carId != null">
        car_id = #{record.carId,jdbcType=BIGINT},
      </if>
      <if test="record.fw != null">
        fw = #{record.fw,jdbcType=INTEGER},
      </if>
      <if test="record.bw != null">
        bw = #{record.bw,jdbcType=INTEGER},
      </if>
      <if test="record.ms != null">
        ms = #{record.ms,jdbcType=INTEGER},
      </if>
      <if test="record.des != null">
        des = #{record.des,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ck_ckwgqx
    set id = #{record.id,jdbcType=BIGINT},
      car_id = #{record.carId,jdbcType=BIGINT},
      fw = #{record.fw,jdbcType=INTEGER},
      bw = #{record.bw,jdbcType=INTEGER},
      ms = #{record.ms,jdbcType=INTEGER},
      des = #{record.des,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maizhong.auction.pojo.CkCkwgqx">
    update ck_ckwgqx
    <set>
      <if test="carId != null">
        car_id = #{carId,jdbcType=BIGINT},
      </if>
      <if test="fw != null">
        fw = #{fw,jdbcType=INTEGER},
      </if>
      <if test="bw != null">
        bw = #{bw,jdbcType=INTEGER},
      </if>
      <if test="ms != null">
        ms = #{ms,jdbcType=INTEGER},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maizhong.auction.pojo.CkCkwgqx">
    update ck_ckwgqx
    set car_id = #{carId,jdbcType=BIGINT},
      fw = #{fw,jdbcType=INTEGER},
      bw = #{bw,jdbcType=INTEGER},
      ms = #{ms,jdbcType=INTEGER},
      des = #{des,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>