
.container {
    margin: 0  auto;
    text-align: center;
}
.container .progress {
    margin: 0 auto;
    width: 800px;
}

.progress {
    background:#ccc;
    border-radius: 6px;

}

.progress-bar {
    position: relative;
    height: 13px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;

}
.progress-bar:before, .progress-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.progress-bar:before {
    bottom: 0;
    background: url("../img/stripes.png") 0 0 repeat;
    border-radius: 4px 4px 0 0;
}
.progress-bar:after {
    z-index: 2;
    bottom: 45%;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

#five:checked ~ .progress > .progress-bar {
    width: 5%;
    background-color: #70be72;
}

#twentyfive:checked ~ .progress > .progress-bar {
    width: 35%;
    background-color: #70be72;
}

#fifty:checked ~ .progress > .progress-bar {
    width: 55%;
    background-color: #70be72;
}

#seventyfive:checked ~ .progress > .progress-bar {
    width: 80%;
    background-color: #70be72;
}

#seventyfive4:checked ~ .progress > .progress-bar {
    width: 80%;
    background-color: #70be72;
}

#onehundred:checked ~ .progress > .progress-bar {
    width: 100%;
    background-color: #70be72;
}


#fifty2:checked ~ .progress > .progress-bar {
    width: 35%;
    background-color: #70be72;
}


.radio {
    display: none;
}

.label {
    display: inline-block;
    padding: 10px 43px;
    color: #000;
    cursor: pointer;
    pointer-events: none;
}

.radio:checked + .label { color: #f05b48}
